//
// Badge
//


// General styles

.badge {
    text-transform: $badge-text-transfom;

    a {
        color: $white;
    }
}


// Size variations

.badge-md {
    padding: .65em 1em;
}

.badge-lg {
    padding: .85em 1.375em;
}


// Multiple inline badges

.badge-inline {
    margin-right: .625rem;

    + span {
        top: 2px;
        position: relative;

        > a {
            text-decoration: underline;
        }
    }
}


// Color fixes

.badge-default {
    color: $white;
}
.badge-secondary {
    background-color: theme-color("secondary");
    color: color-yiq(theme-color("secondary"));
}

//Below are custom styles added for Notifications in Header
.badge-primary-notification {
    background-color: theme-color("primary");
    color: color-yiq(theme-color("primary"));
}
.badge-info-notification {
    background-color: theme-color("info");
    color: color-yiq(theme-color("info"));
}
.badge-success-notification {
    background-color: theme-color("success");
    color: color-yiq(theme-color("success"));
}
.badge-warning-notification {
    background-color: theme-color("warning");
    color: color-yiq(theme-color("warning"));
}
.badge-danger-notification {
    background-color: theme-color("danger");
    color: color-yiq(theme-color("danger"));
}

// Badge spacing inside a btn with some text

.btn {
    .badge {
        &:not(:first-child) {
            margin-left: .5rem;
        }
        &:not(:last-child) {
            margin-right: .5rem;
        }
    }
}
