.select__control,
.React__control {
  &.select__control--is-focused,
  &.React__control--is-focused {
    border-color: $primary !important;
  }
  // padding: 0 !important;
}
.select__menu,
.React__menu {
  .select__menu-list,
  .React__menu-list {
    .select__option,
    .React__option {
      &:hover {
        background-color: lighten($color: $primary, $amount: 10%) !important;
        color:$white;
      }
      &.select__option--is-selected,
      &.React__option--is-selected {
        background-color: $primary; //lighten($color: $primary, $amount: 30%) !important; //$primary;
      }
    }
    padding: 0 !important;
  }
}

// .select__menu {
//   width: "80%";
// }
// .select__value-container {
//   padding: 0px;
//   margin: 0px;
// }