@import "./_variables.scss";
//variables
$tn-checkbox-radio-border-width: 2px;
$tn-checkbox-radio-border-color: $gray-600;
$tn-radio-box: 18px;
$tn-radio-box-sm: 13px;
$tn-radio-box-lg: 22px;

//TopNotch Custom Radio
.tn-radio-con {
  input:checked ~ span {
	color: $primary;
  }
  .tn-radio {
	margin-right: 1rem;
  }
}

.tn-radio-con {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.25rem 0.35rem;
  input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 200;
    cursor: pointer;
    &:checked {
      ~ .tn-radio {
        transform: rotate(0deg);
        outline: 0;
        .tn-radio--circle {
          background: rgba($primary, 1);
          box-shadow: 0 3px 12px 0 rgba($primary, 0.4);
          opacity: 1;
          transform: scale(1);
        }
        .tn-radio--border {
          opacity: 0;
          transform: scale(0.3);
        }
      }
    }
    &:disabled {
      cursor: default;
      pointer-events: none;
      + .tn-radio {
        cursor: default;
        opacity: 0.5;
      }
    }
    &:active {
      ~ .tn-radio {
        transform: scale(1.1);
      }
    }
  }
  .tn-radio {
    cursor: pointer;
    position: relative;
    width: $tn-radio-box;
    height: $tn-radio-box;
    transition: all 0.2s ease;
    margin-right: 0.6rem;
    &.tn-radio-sm {
      width: $tn-radio-box-sm;
      height: $tn-radio-box-sm;
    }
    &.tn-radio-lg {
      width: $tn-radio-box-lg;
      height: $tn-radio-box-lg;
    }
    .tn-radio--border,
    .tn-radio--circle {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      transition: all 0.25s ease;
      top: 0;
      border-radius: 50%;
    }
    .tn-radio--border {
      background: transparent;
      border: $tn-checkbox-radio-border-width solid
        $tn-checkbox-radio-border-color;
    }
    .tn-radio--circle {
      opacity: 0;
      transform: scale(0.1);
    }
  }
}