/** print.6 w NewWindw _b4 Direct Print.css */
/* style for "QR Code" printing */
/** show only the required content of the page in 'print' mode */
@media print {
	.donot-printme  {
		display: none;
	}
	.qrcode-container  {
		display: inline; /* 'block'- added the left shadow effect to the printed doc */
		/* margin: 0;
		padding: 0; */
		box-shadow: none;
	}
	.qrcode {
		/* font-size: 12px; */
		float: none;
		font-weight: 800; /* DIDN't Work */
		/* word-wrap: "break-word"; */
		/* width: 207px; */
		/*height: 0.98in; /* 1.10in => 105.6px */
		/* margin-top: -32px; */
		/* padding-top: 20px;
		margin-bottom: 20px; */
		/* margin-left: -23px;
		margin-right: -10px; */
		/* padding-right: -5px; */
	}
	/* 7.w para tag _in bw blank page */
	@page {
    /* Below is the ideal size to print QR Code sticker.
      But commenting it for Gate Pass printing purpose */
		/*size: 2.16in 0.98in; /** 207px 94px */

    /* size: 2.16in 1.10in; */
		/* margin-left: -12px; */
		/*page-break-inside: avoid;*/
		/*margin-bottom: 7px;
		/*margin-top: 5px;
		/*margin: 1in;*/
	}
} 
.qrcode {
	font-size: 17px;
	font-weight: 800; /* DIDN't Work */
	/* margin-top: 20px; */
}
.qrcode-container {
	margin-left: 25px;
	margin-right: 25px;
}