.parra{
  margin-bottom: 0px !important;
  font-size: 15px;
}

.vat-table th{
border-bottom: 1px solid #ccc;
margin-bottom: 5px;
}

.vat-table td{
  padding-top: 5px;
}

.dooted-border{
  border: 1px dotted #222;
  width: 100%;
 
}
.borders{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dooted-border1{
  border: 1px dotted #222;
  width: 60%;
}

.header{
  position: relative;
}

.close-btn{
  position: absolute;
  box-shadow: none !important;
  font-size: 20px;
  color: red;
  background-color: transparent;
  border-color: transparent;
  right: -3%;
  top: -66%;
}
/* 
.card{
  border: none !important;
} */

.thin-hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #dad3d3
}

.line-height{
 line-height: 2px;
}